.containerNewPassword {
  padding: 25px;
  box-sizing: border-box;
  height: 480px;
  max-width: 415px;
  border-radius: 8px;
  width: 100%;
  background-color: #F9F9FE;
  margin-top: 20px;
}

.textAction {
  margin-top: 12px;
  margin-bottom: 70px;
  font-family: SF UI Display, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #2D2E46;
  opacity: 0.5;
  text-align: left;
  letter-spacing: .2px;
}

.blueBtnContainer {
  max-width: 266px;
  width: 100%;
}

.errorMessageContainer {
  height: 30px;
  color: red;
}

.positionActionBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
}