.label {
    display: flex;
    align-items: center;
    color: white;

    cursor: pointer;

    font-family: "Bell MT";
}

.checkbox {
    width: 20px;
    height: 20px;
    appearance: none;
    margin-right: 10px;
    background-color: gold;
    cursor: pointer;
}

.checkbox:checked {
    appearance: none;
    background-color: crimson;
}

.checkbox:focus {
    outline: 2px solid white;
}

.spanClassName {

}