.container {
    width: 1200px;
    margin: 0 auto;
}

.table {
    margin-top: 20px;
}

.tableHeader {
    border: 1px solid black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tableCell{
    width: 100%;
    text-align: center;
}

.tableList {
    border: 1px solid black;
    border-top: 0;
    width: 100%;
}

.tableRow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button {
    display: inline-block;
    width: fit-content;
    padding: 0 15px;
}

.btnAdd {
    height: 36px;
    font-size: 16px;
    border-radius: 30px;
    color: #21268F;
    font-family: SF UI Display, sans-serif;
    opacity: 0.8;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    background-color: #D7D8EF;
    transition: .2s;
    cursor: pointer;
}

.btnAdd:hover {
    background-color: #c0c1dc;
}

.btnAction {
    height: 36px;
    font-size: 16px;
    border-radius: 30px;
    color: #21268F;
    font-family: SF UI Display, sans-serif;
    opacity: 0.8;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    background-color: #D7D8EF;
    transition: .2s;
    cursor: pointer;
    margin: 0 10px;
}

.btnAction:hover {
    background-color: #c0c1dc;
}

