.registrationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    box-sizing: border-box;
    height: 540px;
    max-width: 415px;
    width: 100%;
    border-radius: 10px;
    background-color: #F9F9FE;
    margin-left: 590px;
    margin-top: 10px;
}

.inputFields {
    display: flex;
    flex-direction: column;
    margin-bottom: 84px;
}

.passwordControl {
    position: absolute;
    top: 20px;
    right: 6px;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.button {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.positionButtonAndError {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errorMessageContainer {
    font-family: "Bookman Old Style";
    font-size: 20px;
    height: 30px;
    color: red;
    margin-bottom: 20px;
}

.blueBtnContainer {
    max-width: 187px;
    width: 100%;
}

.btnCancel {
    height: 36px;
    max-width: 125px;
    width: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #21268F;
    font-family: SF UI Display, sans-serif;
    opacity: 0.8;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    background-color: #D7D8EF;
    transition: .2s;
}

.btnCancel:hover {
     background-color: #c0c1dc;
 }
