.forgotPasswordContainer {
  padding: 25px;
  box-sizing: border-box;
  height: 540px;
  max-width: 415px;
  border-radius: 8px;
  width: 100%;
  background-color: #F9F9FE;
  margin-top: 20px;
}

.textAction {
  margin-top: 12px;
  margin-bottom: 70px;
  font-family: SF UI Display, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #2D2E46;
  opacity: 0.5;
  text-align: left;
  letter-spacing: .2px;
}


.containerCheckEmail {
  padding: 20px;
  height: 470px;
  max-width: 415px;
  width: 100%;
  border-radius: 8px;
  background-color: #F9F9FE;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerCheckEmail {
  margin-bottom: 35px;
  font-size: 26px;
}

.imageCheckEmail {
  margin-bottom: 25px;
  height: 110px;
  width: 110px;

  img {
    width: 100%;
    border-radius: 50%;
    object-position: center;
    object-fit: contain;
  }
}

.titleCheckEmail {
  margin-bottom: 20px;
  font-size: 22px;
  line-height: 33px;
}

.textActionCheckEmail {
  font-family: SF UI Display, sans-serif;
  color: #2D2E46;
  line-height: 24px;
  opacity: .7;
  font-size: 16px;
}


