.btnLogout {
    height: 36px;
    font-size: 16px;
    max-width: 125px;
    width: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #21268F;
    font-family: SF UI Display, sans-serif;
    opacity: 0.8;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    background-color: #D7D8EF;
    transition: .2s;
    cursor: pointer;
}

.btnLogout:hover {
    background-color: #c0c1dc;
}