.link {
    text-decoration: none;
    color: white;
    margin: 25px;
    font-size: 18px;
    font-family: "Bookman Old Style"
}

.link:hover {
    color: black;
    opacity: 0.5;
}

.active {
    color: crimson;
}

.block {
    width: 50px;
    height: 50px;

    margin: 11px 11px 11px 20px;
}

.header {
    display: flex;

    width: 800px;

    transition-duration: 2s;
    transform: translate(-570px);
}

.header:hover {
    transition-duration: 1.5s;
    transform: translate(0);
}